.projects-main{
    height: auto;
    width: 100vw;
    background: var(--grey);
    text-align: center;
    padding: 10px 0;
    color: var(--blue);
}

.projects-main>h1{
    font-size: 10vh;
    font-weight: 600;
    margin: 10px 0 20px 0;
}

.projects-main>h2{
    font-size: 5vh;
    margin: 10px 0 20px 0;
}

.projects-main>h3{
    font-size: 4vh;
    font-weight: 600;
}

ul{
    margin: 0 5px 10px 5px;
}
.projects-main>ul>li{
    text-align: left;
    font-size: 3.5vh;
    margin-top: 10px;
    margin-left: 30px;

}

.twitter-photo{
    height: auto;
    width: 100vw;
}

.project-repo{
    width: 100vw;
    background: var(--blue);
    color: var(--grey);
    padding: 5px 0;
}

.project-repo>div{
    margin: 10px 0;
}

.project-repo>div>a{
    text-decoration: none;
    color: var(--grey);
}

@media(min-width:550px){
    .projects-main>h1{
        font-size: 20vh;
        
    }
    
    .projects-main>h2{
        font-size: 10vh;
    }
    
    .projects-main>h3{
        font-size: 7vh;
    }
    
    
    .projects-main>ul>li{
        font-size: 7vh;
    
    }
}

@media(min-width:750px){
 
    .projects-main>h1{
        font-size: 15vh;
        
    }
    
    .projects-main>h2{
        font-size: 9vh;
    }
    
    .projects-main>h3{
        font-size: 5vh;
        margin: 45px 0;
    }
    
    
    .projects-main>ul>li{
        font-size: 5vh;
        margin-top: 25px;
    
    }

    .project-repo>div{
        font-size: 4.5vh;
    }
}

@media(min-width:1000px){

    .twitter-photo{
        height: auto;
        width: 40vw;
    }

    .projects-main>div{
        display: flex;
        justify-content: space-around;
    }
}