.title-main{
    background: var(--teal);
    width: 100vw;
    height: auto;
    padding: 10px 0 20px 0;
}

.title-photo{
    width: 100vw;
    height: auto;
    transform: rotate(180deg);
}

.title-main>h1{
    font-size: 8vh;
    font-weight: 600;

}

.title-main>h2{
    font-size: 4vh;
    margin-bottom: 10px
}

.title-main>h3{
    column-count: 2;
    margin: 20px 5px 0 5px;
    font-size: 3.5vh;
    
}

.title-main>h1, .title-main>h2, .title-main>h3{
    text-align: center;
    color: var(--black);
}


@media(min-width:550px){
    
    .title-main>h1{
        font-size: 15vh;
    }

    .title-main>h2{
        font-size: 10vh;
    }

    .title-main>h3{
        font-size: 8vh;
    }
}

@media(min-width: 750px){
    .title-main>h1{
        font-size: 10vh;
    }

    .title-main>h2{
        font-size: 5vh;
    }

    .title-main>h3{
        font-size: 4vh;
    }
}

@media(min-width:1000px){
    .title-main>h1{
        font-size: 11vh;
    }

    .title-main>h2{
        font-size: 8vh;
    }

    .title-main>h3{
        font-size: 6vh;
    }
}

@media(min-width:1200px){
    .title-main{
        display: flex;
        flex-direction: column;
    }

    .title-main>div{
        margin: auto;
    }
    
    .title-photo{
        width: 65vw;
        height: auto;
    }

    .title-main>h3{
        margin: 30px 140px;
    }

}
