.contact-main{
    background: var(--blue);
    color: var(--grey);
    text-align: center;
    padding: 10px 0;
}

.contact-main>h1{
    font-size: 8vh;
}

.contact-main>h2{
    font-size: 7vh;
    margin: 15px 0;
}

.contact-container{
    margin: 0 25px;
}

.contact-row{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.button-container{
    margin: 40px 0 ;
}

.contact-button{
    width: 35%;
    height: auto;
    background-color: var(--black);
    color: var(--grey);
    font-size: 3vh;
}
