.footer-main{
    height: auto;
    width: 100vw;
    background: var(--grey);
    color: var(--blue);
    font-size: 3vh;
    text-align: center;
    padding: 5px 0;
}

@media(min-width:550px){
    .footer-main{
        font-size: 5vh;
        padding: 10px 0;
    }
    
}

@media(min-width: 750px){
    .footer-main{
        font-size: 4vh;
    }
}